html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    overflow: hidden;
    font-family: -apple-system, "Helvetica Neue", "Lucida Grande";
}

/* Disable blue halo */
input, textarea, select, a { outline: none; }

.header {
    margin: -10px -10px 10px -10px;
    text-align: center;
    height: 40px;
    background: linear-gradient(to bottom, #ffffff 0%,#e8e8e8 100%); /* W3C */
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    width: 270px;
    border-bottom: 1px solid #bbbbbb;
}

h1 {
    margin: 0;
    line-height: 40px;
    background-color: #404040;
    color: transparent;
    text-shadow: 0px 1px 2px rgba(255, 255, 255, 0.4);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    font-size: 22px;
}

.container {
    /* padding: 20px; */
    padding-top: 0px;
    height: 255px;
}

.popover {
    border-radius: 5px;
    height: 159px;
    width: 250px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #b1b1b1;
    margin: 0 auto;
    margin-top: 10px;
    box-shadow: 0 10px 20px 4px rgba(0, 0, 0, 0.25);
    -webkit-user-select: none;
    position: relative;
    cursor: default;
}

.popover:before {
    border-left: solid transparent 10px;
    border-right: solid transparent 10px;
    border-bottom: solid #b1b1b1 10px;
    top: -10px;
    content: " ";
    height: 0;
    left: 50%;
    margin-left: -13px;
    position: absolute;
    width: 0;
}

.popover:after {
    border-left: solid transparent 10px;
    border-right: solid transparent 10px;
    border-bottom: solid #fff 10px;
    top: -9px;
    content: " ";
    height: 0;
    left: 50%;
    margin-left: -13px;
    position: absolute;
    width: 0;
}

.menu {
    position: absolute;
    bottom: 0;
    height: 36px;
    width: 100%;
    margin-left: -10px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top: 1px solid #bbbbbb;
    text-align: right;
    background: linear-gradient(to bottom, #ffffff 0%,#e8e8e8 100%); /* W3C */
}

.menu .config {
    background: transparent url(images/cog.png) right center no-repeat;
    display: inline-block;
    height: 36px;
    width: 36px;
    margin-right: 10px;
    text-decoration: none;
    color: #8d8d8d;
    cursor: default;
    opacity: 0.7;
}

.menu .config:active {
    opacity: 0.6;
}